.App {

  // CSS Global
  .message-sucess {
    color: #7cff3e;
    font-size: 18px;
    font-weight: bold;
  }

  .message-error {
    color: #FF5722;
    font-size: 18px;
    font-weight: bold;
  }

  button {
    cursor: pointer;
  }

  form {
    label {
      color: white;
      margin-bottom: 5px;
    }

    input {
      display: block;
      width: 100%;
      height: calc(2.5em + .75rem + 2px);
      padding: .375rem .75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    input[type=submit] {
      cursor: pointer;
      background: #000;
      color: #fff;
      border: 0;
      box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 31px;
      font-weight: bold;
    }
  }
}