.List {
    .content {
        padding: 30px;
        table {
            width: 100%;
            color: #fff;
            background-color: #212121;
            border-spacing: 0px;
            thead {
                th {
                    padding: 10px 15px;
                    display: table-cell;
                    text-align: left;
                    border-bottom: 2px solid #32383e;
                }
            }
            tbody{
                td {
                    padding: 15px 15px;
                    border-top: 1px solid #dee2e6;
                }
            }
        }

        .btn-detail {
            color: #fff;
            background-color: #17a2b8;
            border-color: #17a2b8;
            font-size: 1rem;
            font-weight: bold;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: .25rem;
        }

        .btn-exclusion {
            color: #fff;
            background-color: #dc2335;
            border-color: #dc2335;
            font-size: 1rem;
            font-weight: bold;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: .25rem;
        }
    }
    $breakpoint-tablet: 768px;
    @media (max-width: $breakpoint-tablet) {
        .content {
            position: relative;
            overflow: hidden;
            display: block;
            padding: 10px 10px;

            .table-box {
                overflow: auto;
            }
        }
    }
}