.List {
    .content {
        padding: 30px;
        table {
            width: 100%;
            color: #fff;
            background-color: #212121;
            border-spacing: 0px;
            thead {
                th {
                    padding: 10px 15px;
                    display: table-cell;
                    text-align: left;
                    border-bottom: 2px solid #32383e;
                }
            }
            tbody{
                td {
                    padding: 15px 15px;
                    border-top: 1px solid #dee2e6;
                }
            }
        }
    }
    $breakpoint-tablet: 768px;
    @media (max-width: $breakpoint-tablet) {
        .content {
            position: relative;
            overflow: auto;
        }
    }
}