.Login {
    background-color: #282c34;
    text-align: center;
    min-height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    form {
        width: 30%;
        align-self: center;
        background-color: rgba(0, 0, 0, 0.75);
        padding: 30px 50px 50px;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 31px;

        img {
            width: 100%;
            max-width: 200px;
            margin-bottom: 15px;
        }

        p {
            color: #FF5722;
            font-weight: bold;
        }

        .box-input {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 20px;
        }

        label {
            color: white;
        }
    }

    .register-box {
        margin: 30px 0px 0px;
        button {
            background: #61dafb;
            color: #000;
            border: 0;
            padding: 30px 0px;
            box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 31px;
            font-weight: bold;
            width: 100%;
            font-size: 1rem;
        }
    }
}
